<h1>Vehicles</h1>
<div class="container main-container">
    <table class="table ">
        <thead>
            <tr class="table-inverse">
                <th>#</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Cilindraje</th>
                <th>Kilometraje</th>
                <th>Revision TCM</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of vehicles | keys;">
                <th scope="row">1</th>
                <td>{{vehicles[i].marca}}</td>
                <td>{{vehicles[i].modelo}}</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>

        </tbody>
    </table>
</div>